* {
    font-size: 12pt;
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

li {
    display: inline;
    padding: 10px;
}
#sign-in {
    background-color: lightskyblue;
    font-weight: bold;
    color: white;
    padding: 10px;
    
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#logo {
    display: block;
    margin: 75px auto 10px;
}

#search-bar {
    position: relative;
    display: block;
    margin-bottom: 20px;
    border-radius: 50px;
    width: 450px;
    height: 40px;
    border: 1px solid gray;
    }

#buttons {
    border-radius: 8px;
}

div {
    display: flex;
    justify-content: center;
}
footer {
    display: flex;
    position: absolute;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    background-color: transparent;
}


